
<% include parts/_header %>

<div class="container">
    <div class="row">
            <div class="col-md-4">
                <h3>Filtros</h3>
                <form action="/filtrar" >
                    <div class="row">
                            <label>Tipo</label>
                            <input type="text" name="tipo" class="form-control" placeholder="tipo">
                    </div>
                </form>
            </div> 


            <div class="col-md-8">
                <h2>Vehiculos disponibles en la sucursal</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Color</th>
                            <th>Anio</th>
                            <th>Kilometraje</th>
                            <th>Precio</th>
                            <th>Accion</th>
                        </tr>
                        <tbody>
                            <pre><% if(data){ %>
                                <%for(var i=0; i< data.length;i++){%>
                                    <tr>
                                        <td><%= data[i].matricula %></td>
                                        <td><%= data[i].tipo %></td>
                                        <td><%= data[i].marca %></td>
                                        <td><%= data[i].modelo %></td>
                                        <td><%= data[i].color %></td>
                                        <td><%= data[i].anio %></td>
                                        <td><%= data[i].kilometraje %></td>
                                        <td><%= data[i].precio %></td>
                                        <td>
                                            <a href="/reservar/<%=data[i].matricula%>" class="btn btn-danger">Reservar</a>
                                        </td>
                                    </tr>
                                <%}%>
                            <% } %></pre>
                        </tbody>
                    </thead>
                </table>
            </div>
    </div>
</div>

<% include parts/_footer %>